[Unit]
Description=TenangDB Backup Timer
Requires=tenangdb.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target